@charset "utf-8";

:root {
  --color-brand-hue: 286;
  --color-brand-saturation: 77%;
  --color-brand-lightness: 61%;

  --color-brand: hsl(
    var(--color-brand-hue),
    var(--color-brand-saturation)
    var(--color-brand-lightness)
  );
  --color-brand-gradient: linear-gradient(
    to right,
    var(--color-brand),
    hsl(283 94% 25%)
  );

  --color-gray-950: hsl(0 0% 0%);
  --color-gray-600: hsl(0 0% 40%);
  --color-gray-100: hsl(0 0% 96%);
  --color-gray-50: hsl(0 0% 100%);

  --color-gray-overlay: hsl(0 0% 100% / 0.55);

  --color-background-disabled: hsl(0 0% 49% / 0.35);
  --color-text-disabled: hsla(0 0% 100% / 0.55);

  --color-danger: hsl(4 90% 58%);
  --color-success: hsl(145 72% 44%);
}

.dark:root {
  --color-gray-50: hsl(0 0% 10%);
  --color-gray-100: hsl(0 0% 16%);

  --color-gray-overlay: hsl(0 0% 10% / 0.55);
}
